 /* The animation code */
@keyframes logo {
  0%   {background-color: red;
        transform: translateY(200px);}
  25%  {background-color: yellow;}
  50%  {background-color: blue;
        border-radius: 100%;}
  100%{background-color: green;}

}

/* The element to apply the animation to */
.logo{
  width: 200px;
  height: 200px;
  background-color: red;
  animation-name: logo;
  animation-duration: 6s;
  animation-iteration-count: infinite; 
  border-radius: 50; 

} 

.logo img{
  width: 200px;
  height: 200px;
}
